<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>设置</title> 
</head>
<style>
  @import url("/static/Plugins/element-ui@2.11.0/index.css");
  body{
    margin: 0;
    padding: 0;
  }

.el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
  }  

  
  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    1line-height: 160px;
    padding: 10px;
  }
  
  body > .el-container {
    margin-bottom: 40px;
  }
  [v-cloak]{
    display: none;
  }
</style>
<body>
<div id="app">
<el-container v-cloak>
  <el-header>智能键盘配置</el-header>
  <el-main>
  <template>
  <el-table
    :data="tableData"
    style="width: 100%">
    <el-table-column
      label="键名"
      width="180">
      <template slot-scope="scope">       
        <span style="margin-left: 10px">{{ scope.row.keynamechn }}</span>
      </template>
    </el-table-column>
    <el-table-column
      label="键码"
      width="80">
      <template slot-scope="scope">       
        <span style="margin-left: 10px">{{ scope.row.keycode }}</span>
      </template>
    </el-table-column>
     <el-table-column
      label="页面名称"
      width="150">
      <template slot-scope="scope">       
        <span style="margin-left: 10px">{{ scope.row.descstr}}</span>
      </template>
    </el-table-column>
    <el-table-column
      label="页面地址"
     >
      <template slot-scope="scope">
        <el-popover trigger="hover" placement="top">
          <p>地址: {{ scope.row.openurl }}</p>
          
          <div slot="reference" class="name-wrapper">
            <el-tag size="medium">{{ scope.row.openurl }}</el-tag>
          </div>
        </el-popover>
      </template>
    </el-table-column>
    <el-table-column
      label="图标"
      width="180">
      <template slot-scope="scope">
        <el-popover trigger="hover" placement="top">
          <p>ico: {{ scope.row.ico }}</p>
          
          <div slot="reference" class="name-wrapper">
            <el-tag size="medium">{{ scope.row.ico }}</el-tag>
          </div>
        </el-popover>
      </template>
    </el-table-column>
    <el-table-column label="操作">
      <template slot-scope="scope">
        <el-button
          size="mini"
          @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
        <el-button
          size="mini"
          type="danger"
          @click="handleDelete(scope.$index, scope.row)">取消</el-button>
      </template>
    </el-table-column>
  </el-table>
  <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange" 
      :current-page="currentPage"
      :page-sizes="[10, 20, 30, 50]"
      :page-size="size"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total">
    </el-pagination>
</template>
  </el-main>
</el-container>
 <el-dialog v-cloak
  title="更新设置"
  :visible.sync="dialogVisible"
  width="30%"
  :before-close="handleClose">
     <el-form label-position="right" label-width="80px" :model="fromData">
      <el-form-item readonly label="键名">
        <el-input v-model="fromData.keynamechn"></el-input>
      </el-form-item>
      <el-form-item label="键码">
        <el-input readonly v-model="fromData.keycode"></el-input>
      </el-form-item>
      <el-form-item label="页面名称">
        <el-input v-model="fromData.descstr"></el-input>
      </el-form-item>
      <el-form-item label="页面地址">
        <el-input v-model="fromData.openurl"></el-input>
      </el-form-item>
       <el-form-item label="ico">
        <el-input v-model="fromData.ico"></el-input>
      </el-form-item>

    </el-form>
  <span slot="footer" class="dialog-footer" v-cloak>
    <el-button @click="dialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="onSubmit">确 定</el-button>
  </span>
</el-dialog> 
</div>
<script src="/static/Plugins/vue2.6.10/vue.min.js"></script>
<script src="/static/Plugins/element-ui@2.11.0/index.js"></script>
<script src="/static/Plugins/axios/axios.min.js"></script>
<script>
  var app = new Vue({
  el:'#app',
  data:{
     total:0,//共xx页
     currentPage:1,//当前页
     size:10,//每页xx条
     fromData:{},//表单数据
     dialogVisible: false,//对话框
     tableData: []
  },
   methods: {
      handleSizeChange(val){
        this.size = val ;
        console.log(`每页 ${val} 条`);
        this.getAllData();
      },
      handleCurrentChange(val){
        this.currentPage=val;
        console.log(`当前页: ${val}`);
        this.getAllData();
      },
      handleEdit(index, row) {
        console.log(index, row);
        this.dialogVisible = true;//打开编辑框
        this.fromData = row;
        //alert(row)
      },
      handleDelete(index, row) {//清除操作
        var keycode = row.keycode;
        var that =this ;
        axios.post('/setOpenUrlAndIco', {        
                keycode:keycode,
                openurl:' ',
                ico:''
              })
              .then(function (response) {//
                that.getAllData();//刷新数据
                that.succMsg('设置成功!');
                
              })
              .catch(function (error) {
                that.errMsg('设置失败!');
              });
        console.log(index, row);
      },
      handleClose(done) {
        this.$confirm('确认关闭？关闭将不进行操作~~~')
          .then(_ => {
            done();
          })
          .catch(_ => {});
      },
      onSubmit(){//提交
      var that =this ;
        axios.post('/setOpenUrlAndIco',  that.fromData )
                .then(function (response) {//
                  that.dialogVisible = false;//关闭弹窗; 
                  that.succMsg('设置成功!');
                })
                .catch(function (error) {
                  that.errMsg('设置失败!');
                  console.log(error);
                });
      },
      getAllData(){
         var that =this ;
         var param = {
            currentPage:that.currentPage,//当前页
            size:that.size
         } 
         axios.post('/getAllData',param)
                .then(function (response) {//
                  that.tableData = response.data.data;
                  that.total = response.data.totals;
                  console.timeEnd('start');
                })
                .catch(function (error) {
                  console.log(error);
                });
      },
      errMsg(msg){
        this.$notify.error({
          title: '错误',
          message: msg
        });
      },
      succMsg(msg){
        this.$notify.success({
                  title: '提示',
                  message: msg,
                  showClose: false
                });
      }
    },
  mounted(){
    console.time('start');
    this.getAllData();//获取数据

  }   
})
</script>
</body>
</html>